ENV = ### Set the environment [dev]
API_SERVER_PORT = ### Set the API server port [8081, ...]
TCP_SERVER_PORT = ### Set the TCP server port [8082, ...]
UDP_SERVER_PORT = ### Set the UDP server port [8083, ...]
GRPC_SERVER_PORT = ### Set the gRPC server port [8084, ...]
WS_SERVER_PORT = ### Set the WebSocket server port [8085, ...]
HANDSHAKE_KEY= ### key for servers handshake